/*-----------------------------------*\
  #tile.css
\*-----------------------------------*/
.tile {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: var(--rounded-corners);
  -webkit-border-radius: var(--rounded-corners);
  -moz-border-radius: var(--rounded-corners);
  -ms-border-radius: var(--rounded-corners);
  -o-border-radius: var(--rounded-corners);
  color: black;
}
.tile > img {
  width: 60px;
  padding: 10px;
}
